In [1]:

from bs4 import BeautifulSoup as bs
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html, 'html.parser')
article_t = soup.find('div', class_='content_title')
title = article_t.text
article_p = soup.find('div', class_='article_teaser_body')
paragraph = article_p.text
paragraph

"Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover."

In [67]:
browser = Browser('chrome', **executable_path, headless=False)
base_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(base_url)

In [68]:

browser.click_link_by_partial_text('FULL')
browser.is_element_present_by_css('buttons', wait_time = 2)
browser.click_link_by_partial_text('more info')
browser.is_element_present_by_css('figure',wait_time = 2)
browser.click_link_by_partial_href('/spaceimages/images/largesize')
html = browser.html
soup = bs(html, 'html.parser')
img_src = soup.find('img').get('src')
img_src

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17200_hires.jpg'

In [140]:
browser = Browser('chrome', **executable_path, headless=False)
base_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(base_url)
html = browser.html
soup = bs(html, 'html.parser')
tweet = soup.find_all('p',class_ = 'TweetTextSize')
for twit in tweet:
    if 'InSight sol' in twit.text:
        pic_text = twit.a.text 
        Mars_weather = twit.text.replace(pic_text,'')
        
        break
print(Mars_weather)

InSight sol 265 (2019-08-25) low -99.4ºC (-146.9ºF) high -26.3ºC (-15.3ºF)
winds from the SSE at 5.3 m/s (12.0 mph) gusting to 16.1 m/s (35.9 mph)
pressure at 7.50 hPa
pic.twitter.com/9YLawm67zS

In [20]:
import pandas as pd

url = 'https://space-facts.com/mars/'
tables = pd.read_html(url)
# table_df = pd.DataFrame(tables)
access_table = tables[1]
table_df = pd.DataFrame(access_table)
table_df = table_df.rename(columns = {0: "Description", 1:"Value"}).set_index('Description')
table_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [21]:
table2 = table_df.to_html()
table2

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:
table = table_df.to_html().replace('\n', '')
table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [13]:
browser = Browser('chrome', **executable_path, headless=False)
base_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(base_url)
html = browser.html
soup = bs(html, 'html.parser')
items = soup.find_all('div',class_ = 'item')
hemi_dict = []
for item in items:
    h = item.find('h3').text
    linka = item.find('a', class_ = 'itemLink product-item')['href']
    new_url = 'https://astrogeology.usgs.gov' + linka
    browser.visit(new_url)
    html = browser.html
    soup = bs(html, 'html.parser')
    img_url = 'https://astrogeology.usgs.gov'+ soup.find('img', class_ = "wide-image").get('src')
    dictionary = {'title':h,'img_url':img_url}
    hemi_dict.append(dictionary)
hemi_dict

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': '/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': '/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': '/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': '/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]